---
export interface Props {
    name: string
    marginClass?: string
    isActive?: boolean;
    href: string;
}
const {name, marginClass, isActive = false, href} = Astro.props as Props;
---

<li class={`${!isActive && "text-gray-500"} ${marginClass} text-sm font-medium`}><a href={href}>{name}</a></li>
